<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSlicer Cloud</title>
    <link rel="stylesheet" type="text/css" href="{{& baseUrl}}/gfv/gitflow-visualize.css">
    <link rel="stylesheet" type="text/css" href="{{& baseUrl}}/assets/themes/proton/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <style>
      .aui-avatar-xsmall .aui-avatar-inner img {
      max-height: 12px;
      max-width: 12px;
      }
      
      .aui-lozenge {
      background: #cccccc;
      border: 1px solid #cccccc;
      border-radius: 3px;
      color: #333333;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      line-height: 99%;
      margin: 0;
      padding: 2px 5px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      }
      
      .aui-lozenge-subtle {
      background-color: #ffffff;
      }
      
      .aui-lozenge-complete {
      border-color: #a5b3c2;
      color: #4a6785;
      }
      
      .aui-lozenge-error {
      border-color: #e8a29b;
      color: #d04437;
      }
      
      .aui-lozenge-current {
      border-color: #ffe9a8;
      color: #594300;
      }
      
      .aui-lozenge-success {
      border-color: #60b070;
      color: #14892c;
      }
      
      body {
      color: #333333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857142857143;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	<a class="navbar-brand" href="{{& baseUrl}}">CSlicer Cloud</a>
      </div>
    </nav>
    
    <div class="container">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" href="#parameters">Slicing Parameters</a>
	  </h4>
	</div>
	<div id="parameters" class="panel-collapse collapse">
	  <div class="panel-body">
	    <form id="tool-configs" data-toggle="validator" role="form" onSubmit="goTo();return false;">
	      <div class="form-group">
		<label class="control-label" for="startcommit">Start commit</label>
		<input type="text" required class="form-control" data-error="Please choose a start commit." data-minlength="6" placeholder="Start"
		       name="startcommit" id="startcommit" />
		<div class="help-block with-errors"></div>
	      </div>
	      <div class="form-group">
		<label class="control-label" for="endcommit">End commit</label>
		<input type="text" required class="form-control" data-error="Please choose an end commit." data-minlength="6" placeholder="End"
		       name="endcommit" id="endcommit" />
		<div class="help-block with-errors"></div>
	      </div>
	      <div class="form-group">
		<label class="control-label" for="testcases">Test cases</label>
		<input type="text" required required class="form-control" data-error="Please choose at least one test." data-minlength="3"
		       placeholder="Tests" name="testcases" id="testcases" />
		<div class="help-block with-errors"></div>
	      </div>
	      <div class="form-group">
		<label class="control-label" for="options">Options</label>
		<select id="slicingopt" name="slicingopt" class="form-control">
		  <option value="definer">Definer</option>
		  <option value="cslicer">CSlicer</option>
		  <option value="combined">Combined</option>
		</select>
	      </div>
	      <div class="form-group">
		<button class="btn btn-default" id="doslice"
			data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Slicing"
			type="submit">Submit</button>
	      </div>
	    </form>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="container">
      <ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#drawhere">History View</a></li>
	<li><a data-toggle="tab" href="#jstree">Test View</a></li>
	<li><a data-toggle="tab" href="#slice">Result View</a></li>
      </ul>
      
      <div class="tab-content">
	<div id="drawhere" class="tab-pane fade in active"></div>
	<div id="jstree" class="tab-pane fade"></div>
	<div id="slice" class="tab-pane">
	  <div class="panel panel-default">
	    <div class="panel-heading">Slicing Results</div>
	    <table id="results" class="display" width="100%">
	    </table>
	  </div>
	</div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script src="{{& baseUrl}}/gfv/gitflow-visualize.bundle.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{{& baseUrl}}/assets/jstree.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    
    <script>
	var xhr = new XMLHttpRequest();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == XMLHttpRequest.DONE) {
			drawTree(JSON.parse(xhr.responseText));
		}
	}
	xhr.open("GET", "{{& testDataUrl}}");
	xhr.send(null);

	function drawTree(data) {
		$('#jstree').jstree({
			"plugins": ["wholerow", "checkbox"],
			"core": {
				"data": data,
				"themes": { "name": "proton", "responsive": true }
			}
		});
	}

    </script>
    <script>
	$(function () {
		$('#jstree').on("changed.jstree", function (e, data) {
			var i, j, r = [];
			for (i = 0, j = data.selected.length; i < j; i++) {
				if (data.instance.is_leaf(data.selected[i])) {
					r.push(data.instance.get_node(data.selected[i]).id);
				}
			}
			document.getElementById('testcases').value = r.join(', ');
			$('#jstree').jstree(true).open_node(data.selected);
		});
	});
    </script>
    <script>
	var element = document.getElementById('drawhere');
	var dataCallback = function (done) {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				done(JSON.parse(xhr.responseText));
				setInterval(updateBrancheTips, 30000);
			}
		}
		xhr.open("GET", "{{& mainDataUrl}}")
		xhr.send(null);
	}
	var updateBrancheTips = function () {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				GitFlowVisualize.branches.setChanged(JSON.parse(xhr.responseText));
			}
		}
		xhr.open("GET", "{{& branchDataUrl}}");
		xhr.send(null);
	}
	var moreDataCallback = function (from, done) {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				done(JSON.parse(xhr.responseText), from);
			}
		}
		xhr.open("GET", "{{& moreDataUrl}}" + from);
		xhr.send(null);
	};
	var commitUrl = function (commit) {
		return "{{& commitUrlTemplate}}".replace("#sha#", commit.id);
	}
	var log = function (level, msg) {
		switch (level) {
			case "ERROR":
				console.error(msg);
				break;
			case "WARN":
				console.warn(msg);
				break;
			default:
				console.log(level + ": ", msg);
		}
	}
	GitFlowVisualize.draw(element,
		{
			dataCallback: dataCallback,
			log: log,
							{{#moreDataCallback }}moreDataCallback: moreDataCallback, {{/moreDataCallback}}
		{{#masterRef }}masterRef: "{{& masterRef}}", {{/masterRef}}
		{{#developRef }}developRef: "{{& developRef}}", {{/developRef}}
		{{#featurePrefix }}featurePrefix: "{{& featurePrefix}}", {{/featurePrefix}}
		{{#releasePrefix }}releasePrefix: "{{& releasePrefix}}", {{/releasePrefix}}
		{{#hotfixPrefix }}hotfixPrefix: "{{& hotfixPrefix}}", {{/hotfixPrefix}}
		{{#releaseZonePattern }}releaseZonePattern: /{{& releaseZonePattern}}/, {{/releaseZonePattern}}
		{{#releaseTagPattern }}releaseTagPattern: /{{& releaseTagPattern}}/, {{/releaseTagPattern}}
		{{#releaseTagPattern }}releaseTagPattern: /{{& releaseTagPattern}}/, {{/releaseTagPattern}}
		{{#commitUrlTemplate }}createCommitUrl: commitUrl, {{/commitUrlTemplate}}
						});

    </script>
    <script>
    function goTo() {
      var table;
      if ( $.fn.dataTable.isDataTable( '#results' ) ) {
        table = $('#results').DataTable();
        table.clear().draw();
        table.destroy();
      }

      var submit = $('#doslice');
      submit.button('loading');
      
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var response = JSON.parse(xhr.responseText);
              GitFlowVisualize.drawing.annotateResults(response.simple);

              console.log(response);

          table = $('#results').DataTable({
          data: response.full,
          columns: [
            {title: "Entities"},
            {title: "Significance"}]
          });

          submit.button('reset');
      }}
      
      xhr.open("POST", "{{& resultDataUrl}}");
      xhr.setRequestHeader("Content-Type", "application/json");
      var formData = {};
      formData['startcommit'] = document.getElementById('startcommit').value;
      formData['endcommit'] = document.getElementById('endcommit').value;
      formData['testcases'] = document.getElementById('testcases').value;
      formData['slicingopt'] = document.getElementById('slicingopt').value;
  
      xhr.send(JSON.stringify(formData));
  }
</script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
  var sc_project=11437394;
  var sc_invisible=1;
  var sc_security="1fc12e07";
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter">
    <a title="web analytics"
       href="http://statcounter.com/" target="_blank">
      <img class="statcounter"
	   src="//c.statcounter.com/11437394/0/1fc12e07/1/" alt="web analytics">
    </a>
  </div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->    

</body>
</html>
