<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="gfv/gitflow-visualize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/themes/proton/style.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="gfv/gitflow-visualize.bundle.js"></script>
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="/assets/jstree.min.js"></script>

	<style>
		.aui-avatar-xsmall .aui-avatar-inner img {
			max-height: 12px;
			max-width: 12px;
		}

		.aui-lozenge {
			background: #cccccc;
			border: 1px solid #cccccc;
			border-radius: 3px;
			color: #333333;
			display: inline-block;
			font-size: 11px;
			font-weight: bold;
			line-height: 99%;
			margin: 0;
			padding: 2px 5px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}

		.aui-lozenge-subtle {
			background-color: #ffffff;
		}

		.aui-lozenge-complete {
			border-color: #a5b3c2;
			color: #4a6785;
		}

		.aui-lozenge-error {
			border-color: #e8a29b;
			color: #d04437;
		}

		.aui-lozenge-current {
			border-color: #ffe9a8;
			color: #594300;
		}

		.aui-lozenge-success {
			border-color: #60b070;
			color: #14892c;
		}

		body {
			padding-top: 10px;
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			line-height: 1.42857142857143;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="well">
			<form class="form-inline">
				<div class="form-group">
					<label for="startcommit">Start commit:</label>
					<input type="text" class="form-control" placeholder="Start" name="startcommit" id="startcommit" />
				</div>
				<div class="form-group">
					<label for="endcommit">End commit:</label>
					<input type="text" class="form-control" placeholder="End" name="endcommit" id="endcommit" />
				</div>
				<div class="form-group">
					<label for="testcases">Test cases:</label>
					<input type="text" class="form-control" placeholder="Test" name="testcases" id="testcases" />
				</div>
				<button class="btn btn-default" type="button" onClick="goTo()">Submit</button>
			</form>
		</div>
	</div>

	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#drawhere">History View</a></li>
			<li><a data-toggle="tab" href="#jstree">Test View</a></li>
			<li><a data-toggle="tab" href="#branch">Branch View</a></li>
		</ul>

		<div class="tab-content">
			<div id="drawhere" class="tab-pane fade in active"></div>
			<div id="jstree" class="tab-pane fade"></div>
			<div id="branch" class="tab-pane"></div>
		</div>
	</div>
</body>

<script>
	var xhr = new XMLHttpRequest();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == XMLHttpRequest.DONE) {
			console.log(xhr.responseText);
			drawTree(JSON.parse(xhr.responseText));
		}
	}
	xhr.open("GET", "/tests/");
	xhr.send(null);

	function drawTree(data) {
		$('#jstree').jstree({
			"plugins": ["wholerow", "checkbox"],
			"core": {
				"data": data,
				"themes": { "name": "proton", "responsive": true }
			}
		});
	}
</script>
<script>
	$(function () {
		$('#jstree').on("changed.jstree", function (e, data) {
			var i, j, r = [];
			for (i = 0, j = data.selected.length; i < j; i++) {
				if (data.selected[i].indexOf(".java") == -1) {
					r.push(data.instance.get_node(data.selected[i]).text);
				}
			}
			document.getElementById('testcases').value = r.join(', ');
			$('#jstree').jstree(true).open_node(data.selected);
		});
	});
</script>
<script>
	var element = document.getElementById('drawhere');
	var dataCallback = function (done) {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				done(JSON.parse(xhr.responseText));
				setInterval(updateBrancheTips, 30000);
			}
		}
		xhr.open("GET", "{{& mainDataUrl}}")
		xhr.send(null);
	}
	var updateBrancheTips = function () {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				GitFlowVisualize.branches.setChanged(JSON.parse(xhr.responseText));
			}
		}
		xhr.open("GET", "/branches/");
		xhr.send(null);
	}
	var moreDataCallback = function (from, done) {
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if (xhr.readyState == XMLHttpRequest.DONE) {
				done(JSON.parse(xhr.responseText), from);
			}
		}
		xhr.open("GET", "/commits/from/" + from);
		xhr.send(null);
	};
	var commitUrl = function (commit) {
		return "{{& commitUrlTemplate}}".replace("#sha#", commit.id);
	}
	var log = function (level, msg) {
		switch (level) {
			case "ERROR":
				console.error(msg);
				break;
			case "WARN":
				console.warn(msg);
				break;
			default:
				console.log(level + ": ", msg);
		}
	}
	GitFlowVisualize.draw(element,
		{
			dataCallback: dataCallback,
			log: log,
							{{#moreDataCallback }}moreDataCallback: moreDataCallback, {{/moreDataCallback}}
		{{#masterRef }}masterRef: "{{& masterRef}}", {{/masterRef}}
		{{#developRef }}developRef: "{{& developRef}}", {{/developRef}}
		{{#featurePrefix }}featurePrefix: "{{& featurePrefix}}", {{/featurePrefix}}
		{{#releasePrefix }}releasePrefix: "{{& releasePrefix}}", {{/releasePrefix}}
		{{#hotfixPrefix }}hotfixPrefix: "{{& hotfixPrefix}}", {{/hotfixPrefix}}
		{{#releaseZonePattern }}releaseZonePattern: /{{& releaseZonePattern}}/, {{/releaseZonePattern}}
		{{#releaseTagPattern }}releaseTagPattern: /{{& releaseTagPattern}}/, {{/releaseTagPattern}}
		{{#releaseTagPattern }}releaseTagPattern: /{{& releaseTagPattern}}/, {{/releaseTagPattern}}
		{{#commitUrlTemplate }}createCommitUrl: commitUrl, {{/commitUrlTemplate}}
						});
</script>
<script>
	function goTo() {
		$.ajax({
			url: "http://localhost/cgi-bin/modify-pom.py",
			type: "post",
			datatype: "html",
			data: { endcommit: document.getElementById("endcommit").value, 
					startcommit: document.getElementById("startcommit").value, 
					testcases: document.getElementById("testcases").value },
			success: function (response) {
				GitFlowVisualize.drawing.annotateResults(response);
				console.log("There is a response");
				console.log(response);
			}
		});
	}
</script>

</html>